<div>
  <img src="/images/canal_trail.png" class="background_img" alt="Trail along a canal with a mountain and rainbow in the background.">
  <div class="centered lighter_txt">
    <h1>East Valley Trails</h1>
    <a href="/trails/0" class="lighter_txt">Browse Trails</a>
  </div>
</div>
