<!doctype html>
<html lang="en-US">
  <head>
    <title>Trail Match</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>

  <body>
    <header>
      <div>
        <%== yield_content :header_links %>
      </div>
    </header>

    <main>
      <%== yield %>
    </main>
  </body>
</html>