<ul>
  <li> Name: <%= @trail[:name] %></li>
  <li>Distance Round Trip: <%= @trail[:distance_round_trip] %> miles</li>
  <li>Elevation Gain: <%= @trail[:elevation_gain]%> feet</li>
  <li>Average Completion Time: <%= @trail[:avg_round_trip_time] %> hours</li>
</ul>